version: '2'
services:
#  web:
#    build:
#      context: .
#      dockerfile: docker/web/Dockerfile
#    ports:
#      - "80:80" # http
#      - "443:443" # https
#    links:
#      - db
#    volumes:
#      - .:.
  mysql:
    image: mysql:5.7.24
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: bolt20
    volumes:
      - ./deployment/docker/mysql/data:/var/lib/mysql
